*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: left;
}
.a{
  margin-left: 500px;
    border-radius: 10px;
    width:400px;
    backdrop-filter:blur(25px);
    
}
section{
     align-self: right;
    height: 500px;   
}
.inputbox{
    margin-left: 10px;
}
.register{
    margin-left: 10px;
}
.forget{
    margin-left: 10px;
}
input{
    width:250px;
}
.d{
   align-items: left;
    
}
body{
    background-image: url("848515884.jpg");
    background-size: auto;
  
}
 