
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(223, 18, 148, 0.318),rgba(34, 20, 100, 0.1)), url('hd-wallpaper-3567767.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    width:100%;
    height: 12vh;
    background: rgba(0,0,0,0.);
    border-bottom: 1px solid #f9fd00;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
nav .logo{
    width: 25%;
    left: 60%;
    text-align: center;
    display: flex;
    color: white;
}
nav .menu{
    left: 70%;
    width: 50%;
    top: 6%;
    font-size: 26px;
    color: white;
    display: inline-flex;
    justify-content: left;
    align-items: center;
}
nav .menu a{
    width: 10%;
    padding: 3px 6px;
    margin: 32px;
    text-decoration: none;
    color: white;

 
}
nav .menu a:hover{
    display: inline;
    width: 10%;
    padding: auto;
    margin: 32px;
    text-decoration: none;
    color: white;
}
nav .menu a:first-child{
    
}
main{
    width:100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
}
section{

}
section h3{
    font-size: 45px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px yellow;
}
section h1{
    margin:30px 0 20px 0;
    font-size: 65px;
    font-weight: 700;
    text-shadow: 2px 1px 5px red;
    text-transform: uppercase;
}
section a.btone{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 1px;
    background: #f9fd00;
    color: black;
}
.change_content:after{
    content: "";
    animation: changetext 10s infinite linear;
    background: #00b894;
    text-shadow: 2px 1px 5px black;
}
@keyframes changetext {
    0%{content:"soul to the universe";}
    20%{content:"wings to the mind";}
    35%{content:"flight to the imagination";}
    60%{content:"peace to self";}
    80%{content:"energy to body";}
    100%{content:"life to everything";} 
}